@media (min-width: 290px) and (max-width: 700px) {
    .ml1 {
        margin-top: 40%;
    }

    .kontener2 {
        padding: 20px;
        text-align: center;
        margin-top: 60%;
        height: 100%;             /* use full available height */
        overflow-y: auto;         /* make it scrollable */
        scroll-behavior: smooth;
        padding: 20px;
        box-sizing: border-box;
    }
}
